# CDC Mortality Data  
Source: https://www.cdc.gov/nchs/data_access/vitalstatsonline.htm

In [1]:
import pandas as pd

In [42]:
# from os import listdir

# print(listdir('/Users/Scott/CloudStation/Drive/Jupyter/Covid/CDC Data/'))

dataFolder = '/Users/Scott/CloudStation/Drive/Jupyter/Covid/CDC Data/'
dataFile = 'Mort2018US.PubUse.txt'
print(dataFolder+dataFile)

colspecs = [[19,20],[60,64],[64,66],[68,69],[69,82],[82,83],[83,84],[84,85],
            [101,105],[105,106],[106,107],[107,108],[108,109],[143,144],
            [144,145],[145,162],[162,443],[444,490]]

# colspecs = [[x+1 for x in row] for row in colspecs]

names = ['Resident Status', 'Education', 'Month of Death', 'Sex', 'Reported Age', 
         'Place of Death', 'Marital Status', 'Day of week of Death', 'Data Year', 
        'Injury at Work', 'Manner of death', 'Manner of disposition', 'Autopsy',
        'Activity Code', 'Place of Injury for Causes', 'Underlying Cause of Death', 
        'Multiple conditions', 'Bridged Race']

/Users/Scott/CloudStation/Drive/Jupyter/Covid/CDC Data/Mort2018US.PubUse.txt

In [43]:
dataFolder = '/Users/Scott/CloudStation/Drive/Jupyter/Covid/CDC Data/'
dataFile = 'Mort2018US.PubUse.txt'
cdcData = pd.read_fwf(dataFolder+dataFile, colspecs=colspecs, header=None, names = names)

cdcData.head(5)

,Resident Status,Education,Month of Death,Sex,Reported Age,Place of Death,Marital Status,Day of week of Death,Data Year,Injury at Work,Manner of death,Manner of disposition,Autopsy,Activity Code,Place of Injury for Causes,Underlying Cause of Death,Multiple conditions,Bridged Race
0,3,31,1,F,1046 351507,1,D,2,2018,U,7.0,C,N,NaN,NaN,A419023 010 37,0311J189 21J869 31A419 ...,01 11 100 601
1,1,31,1,M,1028 311105,7,S,4,2018,N,1.0,B,N,9.0,NaN,V475392 114 38,0511S099 12V475 13T099 14T149 15S021 ...,03 23 100 803
2,1,61,1,M,1093 442411,6,D,3,2018,U,7.0,B,N,NaN,NaN,C61 113 033 11,0111C61 ...,01 11 100 601
3,1,21,1,M,1090 442411,1,W,7,2018,U,7.0,C,N,NaN,NaN,A419023 010 37,0311R688 21A419 61I509 ...,01 11 100 601
4,2,41,1,F,1031 321205,1,S,2,2018,U,7.0,C,N,NaN,NaN,K701298 094 30,0911G934 21K701 22R579 31K769 32R688 41D689 61...,03 23 100 803